<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "Eric Shelton Design" || current_page.data.title %></title>

    <%= stylesheet_link_tag :style %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="l-body">
    <nav class="m-nav">
      <div class="m-nav--container">
        <div class="m-nav--container_scroll">
          <div class="m-nav--container_overflow">
            <%= link_to 'Work', '/index.html' %>
            <%= link_to 'Photography', '/photography.html' %>
            <%= link_to 'Resume', '/eric-shelton-resume.pdf' %>
            <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/eric-shelton-89b49067' %>
            <%#= link_to 'Twitter', 'https://twitter.com/esheltondesign' %>
            <%= link_to 'Instagram', 'https://www.instagram.com/ericshoots/' %>
          </div>
        </div>
        <div class="m-nav--overlay"></div>
      </div>
      <%= link_to 'Eric Shelton', '/index.html', :class=>"m-nav--home" %>
    </nav>
    <%= yield %>
  </body>
</html>
