<div class="m-projects">
  <%= link_to '<div class="m-projects--image"></div>', '/ny-presbyterian.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/camd.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/bone-machine.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/cornell.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/eyesite.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/apex.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/skin.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/health.html' %>
</div>