<div class="m-projects">
  <%= link_to '<div class="m-projects--image"></div>', '/apex.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/wait.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/camd.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/mgm.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/cornell.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/graphis.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/health.html' %>
  <%= link_to '<div class="m-projects--image"></div>', '/bone-machine.html' %>
  <!--  <%= link_to '<div class="m-projects--image"></div>', '/bone-machine.html' %> -->
  <!-- <%= link_to '<div class="m-projects--image"></div>', '/eyesite.html' %> -->

</div>
