---
title: Apex Automotive
---

<div class="m-header">
  <h1>Apex Automotive</h1>
  <p>A graphic identity for an automotive-based television network. Project included strategy, naming, branding, print
collateral, commercials, social media presence, and promotional video and advertising.
</p>
</div>

<video controls>
  <source src="video/bump.mp4" type="video/mp4">
</video>

<div class="m-header">
<p>The term apex when used in racing is the mid-point of each corner. Hitting each apex on a racetrack is vital to producing the fastest lap time possible. Automotive terminology, symbols, history, and imagery were studied thoroughly to complete the comprehensive branding program.
</p>
</div>

<%= image_tag "apex_web_1.jpg" %>
<%= image_tag "apex_color.jpg" %>
<%= image_tag "apex_stationary.jpg" %>
<%= image_tag "apex_phone.jpg" %>
<%= image_tag "apex_card.jpg" %>
<%= image_tag "apex_silverstone.jpg" %>

<video controls>
  <source src="video/commercial.mp4" type="video/mp4">
</video>

<video controls>
  <source src="video/mur2.mp4" type="video/mp4">
</video>

<div class="break"></div>

<%= partial "partials/_projects" %>

<p>© Eric Shelton, 2017</p>
