---
title: Art, Media and Design School
---

<div class="m-header">
  <h1>UArts School of Art, Media and Design
School of Design Exhibition</h1>
  <p>Leading a team of five, we were challenged to create an identity for the School of Art, Media and Design’s year-end exhibition.
The expansive identity included wayfinding, print collateral, and website featuring every student’s work.</p>
</div>

<div class="image">

  <div class="image-50">
    <%= image_tag "uarts_1.jpg" %>
  </div>

  <div class="image-50">
    <%= image_tag "uarts_2.jpg" %>
  </div>

  <%= image_tag "uarts_3.jpg" %>
  <%= image_tag "uarts_4.jpg" %>

</div>

<div class="break"></div>

<%= partial "partials/_projects" %>