---
title: Cornell University
---

<div class="m-header">
  <h1>Cornell University </br> Department of Communication</h1>
  <p>Environmental graphics, wayfinding, and donor recognition sign program for the Department of Communication’s newly renovated Mann Library location at Cornell University. The program focused on connecting and engaging people while inviting them to interact with each other and the environment.</p>
  <p>This work was completed at Poulin + Morris Inc.</p>
</div>

<%= image_tag "cornell_1.jpg" %>
<%= image_tag "cornell_2.jpg" %>
<%= image_tag "cornell_3.jpg" %>
<%= image_tag "cornell_4.jpg" %>
<%= image_tag "cornell_5.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>

<p>Cornell University © Poulin + Morris, Inc.</p>
