---
title: Cornell University
---

<div class="m-header">
  <h1>Cornell University Department of Communication</h1>
  <p>Working with JMZ Architects and Planners, we created an
environmental graphics, wayfinding, and donor recognition sign program for the Department of Communication’s new 19,000-square-foot space in Cornell’s Mann Library.</p>
  <p>This work was completed at Poulin + Morris Inc.</p>
</div>

<%= image_tag "cornell.jpg" %>
<%= image_tag "cornell_2.jpg" %>
<%= image_tag "cornell_3.jpg" %>
<%= image_tag "cornell_4.jpg" %>
<%= image_tag "cornell_5.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>