---
title: Skin
---

<div class="m-header">
  <h1>Archigraphia Redux</h1>

  <p>To celebrate the fortieth anniversay of <i>Archigraphia</i>, Richard Poulin was asked by <i>Graphis</i> to revisit the concept with a survey of 21st century design and architecture. Featuring over 150 different designers, architects, and artists from over 40 countries, <i>Archigraphia Redux</i> demonstrates how the environment we experience relies heavily on graphic design  to communicate information, shape our perception, and enliven our lives.</p>

  <p>This work was completed at Poulin + Morris Inc.</p>

</div>

<div class="image">

  <%= image_tag "ar_1.jpg" %>
  <%= image_tag "ar_2.jpg" %>
  <%= image_tag "ar_3.jpg" %>
  <%= image_tag "ar_4.jpg" %>
  <%= image_tag "ar_5.jpg" %>
  <%= image_tag "ar_6.jpg" %>

</div>

<div class="break"></div>

<%= partial "partials/_projects" %>

<p>Archigraphia Redux © Poulin + Morris, Inc.</p>
