---
title: HealthCare4AllPA
---

<div class="m-header">
  <h1>HealthCare4AllPA</h1>
  <p>HealthCare4AllPA is a non-profit organization based in
Pennsylvania, dedicated to achieving a single-payer health care system. The new logo celebrates the Keystone State's heritage and provides a clear view on the organization's goal.</p>
</div>

<%= image_tag "hc_logo.jpg" %>
<%= image_tag "hc_exploration.jpg" %>
<%= image_tag "hc_color.jpg" %>

<div class="m-header">
<p>Through research, interviews, questionnaires, and conferences I developed an identity based on their key demographic and voters. Working closely with the nonprofit, I also created brochures, lapel pins, and marketing material to provide a clear and concise message to every voter of all ages.
</p>
</div>

<%= image_tag "hc_info.jpg" %>
<%= image_tag "hc_stationary.jpg" %>
<div class="break"></div>

<%= partial "partials/_projects" %>
