---
title: Eric Shelton &#47; Designer and Photographer
layout: layout
---

<div class="m-main">
  <section class="m-main--nav__container">

    <div class="m-main--nav">
      <h3>About</h3>
      <p>Designer and photographer</p>
      <%= link_to 'Currently working at Poulin + Morris', 'http://www.poulinmorris.com/', :target => "_blank" %>
    </div>

    <div class="m-main--nav">
      <h3>Previous</h3>
      <p><%= link_to 'Group M', 'http://www.group-m.com/', :target => "_blank" %>, July 2013–July 2014</p>
      <p>UArts School of Design, Feb 2014–May 2014</p>
      <p><%= link_to 'Mod Worldwide', 'http://modworldwide.com/', :target => "_blank" %>, May 2013–Aug 2013</p>
    </div>

    <div class="m-main--nav">
      <h3>Education</h3>
      <p><%= link_to 'The University of the Arts', 'http://www.uarts.edu/', :target => "_blank" %>, 2014</p>
    </div>

    <div class="m-main--nav">
      <h3>Workshops</h3>
      <p>Information Architecture (w/ Paul Kahn)</p>
      <p>Typeface Design (w/ Ben Kiel)</p>
    </div>

  </section>
  <section class="m-main--work__container">

    <%= partial "partials/_bone-machine" %>
    <%= partial "partials/_naked" %>
    <%= partial "partials/_apex" %>
    <%= partial "partials/_uarts" %>

  </section>
</div>
