---
title: Art, Media and Design School
---

<div class="m-header">
  <h1>MGM National Harbor</h1>

  <p>Wayfinding strategy, branding, retail standards, and signage package for Washington D.C. area casino.</p>

  <p>This work was completed at Poulin + Morris Inc.</p>

</div>


<div class="image">
  <%= image_tag "mgm_1.jpg" %>
  <%= image_tag "mgm_2.jpg" %>
  <%= image_tag "mgm_3.jpg" %>
  <%= image_tag "mgm_5.jpg" %>
  <%= image_tag "mgm_7.jpg" %>
  <%= image_tag "mgm_6.jpg" %>

</div>

<div class="break"></div>

<%= partial "partials/_projects" %>

<p>MGM National Harbor © Poulin + Morris, Inc.</p>
