---
title: Art, Media and Design School
---

<div class="m-header">
  <h1>MGM National Harbor</h1>

  <p>Leading a team of five, we were challenged to create an identity for the School of Art, Media and Design’s annual exhibition.
The expansive identity included wayfinding, print collateral, and website.</p>
</div>


<div class="image">
  <%= image_tag "mgm_1.jpg" %>
  <%= image_tag "mgm_2.jpg" %>
  <%= image_tag "mgm_3.jpg" %>
  <%= image_tag "mgm_5.jpg" %>
  <%= image_tag "mgm_6.jpg" %>
  <%= image_tag "mgm_7.jpg" %>
  <%= image_tag "mgm_8.jpg" %>


</div>


<div class="break"></div>

<%= partial "partials/_projects" %>
