---
title: NewYork-Presbyterian
---

<div class="m-header">
  <h1>NewYork-Presbyterian</h1>
  <p>An expansive campus-wide environmental graphics, wayfinding,
and donor recognition sign standards program. Working closely with NewYork-Presbyterian and multiple architects, the project
expands over six hospitals throughout the greater New York area.</p>
  <p>This work is ongoing, and completed at Poulin + Morris Inc.</p>
</div>

<%= image_tag "ny_presbyterian_1.jpg" %>
<%= image_tag "ny_presbyterian_2.jpg" %>
<%= image_tag "ny_presbyterian_3.jpg" %>
<%= image_tag "ny_presbyterian_4.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>