---
title: Eric Shelton Photography Images
layout: photo
---

<div class="m-main">
  <section class="m-main--nav__container">
    <div class="m-main--nav">
      <h3>About</h3>
      <p>Photographs taken with Nikon D700/D300</p>
    </div>
    <div class="m-main--nav">
      <h3>Weddings</h3>
      <p>Alicia &amp; Walt, October 2013</p>
      <p>Candy &amp; Lisa, July 2011</p>
    </div>
    <div class="m-main--nav">
      <h3>Publications</h3>
      <p>UArts School of Design</p>
    </div>
  </section>
  <section class="m-main--work__container photos">
    <div class="m-main--work">
      <div class="m-main--work__image">
        <%= image_tag 'subway.jpg' %>
        <%= image_tag 'exchange.jpg' %>
        <%= image_tag 'nopictures.jpg' %>
        <%= image_tag 'bike.jpg' %>
        <%= image_tag 'uarts.jpg' %>
        <%= image_tag 'gasmask.jpg' %>
        <%= image_tag 'isolation.jpg' %>
        <%= image_tag 'suits.jpg' %>
        <%= image_tag 'sidecart.jpg' %>
        <%= image_tag 'homeless.jpg' %>
      </div>
    </div>
    <div class="m-main--work">
      <div class="m-main--work__desc">
        <h3>Weddings</h3>
        <p><i>(Abbreviated)</i></p>
      </div>
      <div class="m-main--work__image">
        <%= image_tag 'cl.jpg' %>
        <%= image_tag 'aw1.jpg' %>
        <%= image_tag 'aw2.jpg' %>
        <%= image_tag 'aw3.jpg' %>
        <%= image_tag 'aw4.jpg' %>
      </div>
    </div>
  </section>
</div>