---
title: Eric Sheltons Photography
---

<div class="m-header">
  <h1>Photography</h1>
</div>

<%= image_tag "nyc-subway.jpg" %>
<%= image_tag "exchange.jpg" %>
<%= image_tag "sheets.jpg" %>
<%= image_tag "grown-up.jpg" %>
<%= image_tag "bike.jpg" %>
<%= image_tag "pizza.jpg" %>
<%= image_tag "gasmask.jpg" %>
<%= image_tag "suits.jpg" %>
<%= image_tag "firstdance.jpg" %>