---
title: Eric Sheltons Photography
---

<div class="m-header">
  <h1>Photography</h1>
</div>

<%= image_tag "1_subway.jpg" %>
<%= image_tag "2_DSCF0212.jpg" %>
<%= image_tag "3_DSCF0238.jpg" %>
<%= image_tag "4_DSCF0028.jpg" %>
<%= image_tag "5_DSCF5036.jpg" %>
<%= image_tag "6_DSCF0254.jpg" %>
<%= image_tag "7_DSCF5042.jpg" %>
<%= image_tag "8_exchange.jpg" %>
<%= image_tag "9_bike.jpg" %>
