---
title: Skin
---

<div class="m-header">
  <h1>Skin: Nakedly Beautiful</h1>
  <p>An 80-page book on the topic of skin—something everyone has, and knows little about. What can science learn from it? Are there benefits that
remain undiscovered? This factual book was written to provoke
and answer these questions.</p>
</div>

<div class="image">

  <div class="image-25">
    <%= image_tag "skin.jpg" %>
  </div>
  <div class="image-75">
    <%= image_tag "skin_2.jpg" %>
  </div>

  <%= image_tag "skin-main.jpg" %>
  <%= image_tag "skin_4.jpg" %>

  <div class="image-50">
  <%= image_tag "skin_5.jpg" %>
  </div>

  <div class="image-50">
  <%= image_tag "skin_6.jpg" %>
  </div>

  <%= image_tag "skin_7.jpg" %>

</div>

<div class="break"></div>

<%= partial "partials/_projects" %>
