---
title: Apex Automotive
---

<div class="m-header">
  <h1>WAIT</h1>
  <p>To cope with a heart-wrenching breakup with my significant other, I documented photographs and love letters we shared in a 24-page book. The personal narrative contrasts memories, love, and themes of our relationship with how they
relate to the breakup and following months of recomposure.
</p>
</div>

<%= image_tag "wait_1.jpg" %>
<%= image_tag "wait_2.jpg" %>
<%= image_tag "wait_3.jpg" %>
<%= image_tag "wait_4.jpg" %>
<%= image_tag "wait_5.jpg" %>
<%= image_tag "wait_6.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>
